{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

  <h1 class="display-4">Validar Contraseña</h1>
  <hr class="my-4">
  <p class="lead">ingrese su contraseña en la pestaña Entrada</p>
  <img src="../static/img/parte1.png">
  <br>
  <hr class="my-4">
  <p class="lead">Luego, de pulse el boton Ejecutar</p>
  <img src="../static/img/parte2.png">
  <br>
  <hr class="my-4">
  <p class="lead">vea su resulta en la pestaña Salida</p>
  <img src="../static/img/parte3.png">
  <br>


  <iframe src="https://paiza.io/projects/e/2FgDfJ_oG-irh7g5dcdSTA?theme=chrome" width="100%" height="500" scrolling="no" seamless="seamless"></iframe>

</div>

{% endblock%}
